<span class="done" matTooltip="Nueva Consulta" [matTooltipPosition]="'left'">
  <button mat-fab (click)="logout()">
    <mat-icon>add</mat-icon>
  </button>
</span>
<div *ngIf="!doc" class="sufel-cont-spin">
    <mat-spinner></mat-spinner>
</div>
<mat-card *ngIf="doc">
  <mat-card-header>
      <div mat-card-avatar class="invoice-image"></div>
    <mat-card-title>{{getTipo(doc.tipo)}}</mat-card-title>
    <mat-card-subtitle>{{doc.serie}}-{{doc.correlativo}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <br>
    <h4>DOCUMENTO</h4>
    <table class="doc-table">
        <tbody>
          <tr>
            <td>Documento</td>
            <td>{{doc.serie}}-{{doc.correlativo}}</td>
          </tr>
          <tr>
            <td>Fecha</td>
            <td>{{doc.fecha|date: 'dd/MM/y'}}</td>
          </tr>
          <tr>
            <td>Total</td>
            <td>{{doc.total}}</td>
          </tr>
        </tbody>
      </table>
    <h4>CLIENTE</h4>
     <table class="doc-table">
       <tbody>
         <tr>
           <td>Nro. Documento</td>
           <td>{{doc.cliente_doc}}</td>
         </tr>
         <tr>
            <td>Nombres</td>
            <td>{{doc.cliente_nombre}}</td>
          </tr>
       </tbody>
     </table>
  </mat-card-content>
  <mat-card-actions>  
      <button mat-raised-button (click)="downloadXml()" color="green"><mat-icon>cloud_download</mat-icon> XML</button>
      <button mat-raised-button (click)="downloadPdf()" color="warn"><mat-icon>cloud_download</mat-icon> PDF</button>
    </mat-card-actions>
</mat-card>
