.header {
    font-size: 2rem;
}
.ico-logout {
    font-size: 40px;
}
.logout {
    cursor: pointer;
}
.right {
    order: 1;
    flex-direction: row-reverse;
}

.header-container {
    display: flex;
    align-items: center;
    width: 100%;
}