<nb-layout windowMode>
  <nb-layout-header fixed>
    <span class="header">Sufel</span>
    <button type="button" class="btn btn-danger btn-icon btn-logout">
      <i class="material-icons">reply</i>
    </button>
  </nb-layout-header>
  <nb-sidebar class="menu-sidebar"
               tag="menu-sidebar"
               responsive>
    <nb-menu [items]="menu"></nb-menu>
  </nb-sidebar>

  <nb-layout-column class="main-content">
    <router-outlet></router-outlet>
  </nb-layout-column>
</nb-layout>