<nb-layout windowMode>
  <nb-layout-header fixed>
    <a href="#" (click)="toggleSidebar()" class="navigation">
      <nb-icon icon="menu-outline"></nb-icon>
    </a>
    <span class="logo header">{{product}}</span>
    <div class="header-container right">
      <span class="logout" (click)="logout()" title="Salir">
        <nb-icon icon="close-outline" class="ico-logout"></nb-icon>
      </span>
    </div>
  </nb-layout-header>
  <nb-sidebar class="menu-sidebar"
               tag="menu-sidebar"
               responsive>
    <nb-sidebar-header>
      <span class="center menu-header">RUC: {{ruc}}</span>
    </nb-sidebar-header>
    <nb-menu [items]="menu"></nb-menu>
  </nb-sidebar>

  <nb-layout-column class="main-content">
    <router-outlet></router-outlet>
  </nb-layout-column>
</nb-layout>