<app-navbar></app-navbar>
<div>
<mat-card class="sufel-form">
  <mat-card-header>
    Login
  </mat-card-header>
  <mat-card-content>
    <form #clientForm="ngForm">
        <mat-form-field class="sufel-full-width">
          <input matInput
          #rucClient
          placeholder="Ruc"
          minlength="11"
          maxlength="11"
          required
          [(ngModel)]="client.documento" name="ruc">
          <mat-hint align="end">{{rucClient.value.length}} / 11</mat-hint>
        </mat-form-field>
        <mat-form-field class="sufel-full-width">
          <input matInput
          placeholder="Contraseña"
          [type]="hide ? 'password' : 'text'"
          maxlength="8"
          required
          [(ngModel)]="client.password" name="password">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>
      </form>
  </mat-card-content>
  <mat-card-actions>
      <div class="sufel-cont-spin" [hidden]="!loading">
          <mat-spinner style="height:50px"></mat-spinner>
      </div>
      <button mat-raised-button color="primary" (click)="login()">Login</button>
      <a class="a-register" [routerLink]="['/client/register']">Registrarse</a>
    </mat-card-actions>
</mat-card>
</div>
