<md-card>
  <md-card-header>
    <div md-card-avatar class="image-cover" [ngStyle]="{'background-image': 'url(' + logo + ')'}"></div>
    <md-card-title [ngStyle]="{'font-size': '18px'}">Consulta de Comprobante Electrónico</md-card-title>
    <md-card-subtitle>Complete la información</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <form class="example-form" #docForm="ngForm">
        <md-form-field class="sufel-full-width" [hidden]="hasCompany">
          <input mdInput
          #rucEmisor
          placeholder="Ruc"
          minlength="11"
          maxlength="11"
          [(ngModel)]="doc.emisor" name="emisor">
          <md-hint align="end">{{rucEmisor.value.length}} / 11</md-hint>
        </md-form-field>
        <md-form-field class="sufel-full-width">
            <input mdInput
            required
            placeholder="Serie-Correlativo"
            maxlength="13"
            pattern="^[FB]\w{3}-\d{1,8}$"
            [(ngModel)]="doc.documento" name="documento">
          </md-form-field>
        <md-select
        placeholder="Tipo de Documento"
        class="sufel-full-width i-space text-left"
        required
        [(ngModel)]="doc.tipo" name="tipo">
            <md-option *ngFor="let tip of tipoDocs" [value]="tip.value">
              {{ tip.viewValue }}
            </md-option>
          </md-select>
        <md-form-field class="sufel-full-width i-space">
          <input mdInput
          required
          [mdDatepicker]="picker"
          [max]="maxDate"
          placeholder="Fecha de Emsión"
          [(ngModel)]="doc.fecha" name="fecha">
          <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
          <md-datepicker #picker></md-datepicker>
        </md-form-field>
        <md-form-field class="sufel-full-width">
            <input mdInput
            required
            type="number"
            placeholder="Total"
            [(ngModel)]="doc.total" name="total">
        </md-form-field>
      </form>
  </md-card-content>
  <md-card-actions>
      <div class="sufel-cont-spin" [hidden]="!loading">
          <md-spinner style="height:50px"></md-spinner>
      </div>
      <button md-raised-button color="primary" [disabled]="docForm.invalid" (click)="consult()">Consultar</button>
    </md-card-actions>
</md-card>
