<div class="row">
  <div class="col-md-12">
    <nb-card class="inline-form-card">
      <nb-card-header>Ingresar Nueva Contraseña</nb-card-header>
      <nb-card-body>
        <form class="form-inline" #passForm="ngForm">
          <input 
          type="password"
          required
          maxlength="8"
          class="form-control full-width"
          placeholder="Contraseña Actual"
          [(ngModel)]="pass.old" name="old">
          <input 
          type="password"
          required
          maxlength="8"
          class="form-control full-width"
          placeholder="Nueva Contraseña"
          [(ngModel)]="pass.new" name="new">
          <input 
          type="password"
          required
          maxlength="8"
          class="form-control full-width"
          placeholder="Repetir Contraseña"
          [(ngModel)]="pass.repeat" name="repeat">
          <button type="submit" class="btn btn-primary" (click)="changePassword()">Cambiar</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
