@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */
/* @import './theme'; */

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}
.sufel-cont-spin {
  margin: 0 auto;
  display: table;
  padding-bottom: 20px;
}
