/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */
/* @import './theme'; */
@import "~@ng-select/ng-select/themes/default.theme.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.sufel-cont-spin {
  margin: 0 auto;
  display: table;
  padding-bottom: 20px;
}

.sufel-full-width {
  width: 100%;
}

mat-card.sufel-form {
  max-width: 35%;
  margin: 2em auto;
  text-align: center;
}

@media only screen and (max-width: 700px) {
  mat-card.sufel-form {
    max-width: 80%;
  }
}

.center {
  margin: 0 auto;
}
