mat-card {
  max-width: 35%;
  margin: 2em auto;
  text-align: center;
}

@media only screen and (max-width: 700px) {
  mat-card {
    max-width: 80%;
  }
}

.example-form {
  width: 100%;
}

.sufel-full-width {
  width: 100%;
}

.text-left {
  text-align: left;
}

.i-space {
  margin-top: 10px;
  margin-bottom: 10px;
}
[hidden] {
  display: none;
}

.image-cover {
  background-size: cover;
  background-image: url('../../../../assets/img/invoice.png');
}

mat-card-header {
  text-align: left;
}

mat-form-field {
  width: 100%;
}
mat-card-title {
  font-size: 20px;
}