<mat-card class="sufel-form">
  <mat-card-header>
    <div mat-card-avatar class="image-cover"></div>
    <mat-card-title [ngStyle]="{'font-size': '18px'}">Consulta de Comprobante Electrónico</mat-card-title>
    <mat-card-subtitle>Complete la información</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form #docForm="ngForm">
        <mat-form-field class="sufel-full-width" [hidden]="hasCompany">
          <input matInput
          #rucEmisor
          placeholder="Ruc del Emisor"
          minlength="11"
          maxlength="11"
          [(ngModel)]="doc.emisor" name="emisor">
          <mat-hint align="end">{{rucEmisor.value.length}} / 11</mat-hint>
        </mat-form-field>
        <mat-form-field class="sufel-full-width">
            <input matInput
            required
            placeholder="Serie-Correlativo"
            maxlength="13"
            pattern="^[FB]\w{3}-\d{1,8}$"
            (change)="doc.documento=doc.documento.toUpperCase()"
            [(ngModel)]="doc.documento" name="documento">
          </mat-form-field>
          <mat-form-field>
            <mat-select
            placeholder="Tipo de Documento"
            class="sufel-full-width i-space text-left"
            required
            [(ngModel)]="doc.tipo" name="tipo">
                <mat-option *ngFor="let tip of tipoDocs" [value]="tip.value">
                  {{ tip.viewValue }}
                </mat-option>
              </mat-select>
          </mat-form-field>
        <mat-form-field class="sufel-full-width i-space">
          <input matInput
          required
          [matDatepicker]="picker"
          [max]="maxDate"
          placeholder="Fecha de Emsión"
          [(ngModel)]="doc.fecha" name="fecha">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker touchUi="true" #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="sufel-full-width">
            <input matInput
            required
            type="number"
            placeholder="Total"
            [(ngModel)]="doc.total" name="total">
        </mat-form-field>
      </form>
  </mat-card-content>
  <mat-card-actions>
      <div class="sufel-cont-spin" [hidden]="!loading">
          <mat-spinner style="height:50px"></mat-spinner>
      </div>
      <button mat-raised-button color="primary" [disabled]="docForm.invalid" (click)="consult()">Consultar</button>
    </mat-card-actions>
</mat-card>
